body {
    background: #fefefe;
    color: #333333;
}

.sectionHeader {
    color: #BE7C4D;
}

.blogPostHeader {
    color: #2E3532;
}

.heading, .blogHeader {
    color: #8B2635;
}

.link {
    color: #93C0A4;
}
