body {
    background: #fefefe;
    color: #333333;
}

.about {
}

.about__content {
}

.about__header {
    color: #BE7C4D;
}

.article {
}

.article__content {
    padding: 3px 16px;
}

.article__header {
    color: #8B2635;
}

.blog {
}

.blog__header {
    color: #BE7C4D;
}

.footer {
}

.footer_top {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.main {
    padding-top: 50px;
    width: 100%;
    max-width: 700px;
    margin: 0px auto;
}

.main__header {
    color: #8B2635;
}

.main__link {
    text-decoration: none;
}

.site-header {
    position: fixed;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    padding: 16px;
    color: #8B2635;
    background-color: #fff;
}

.navigation {
}

.navigation__item {
    display: inline;
}

.navigation__list {
    list-style: none;
    padding: 0;
}

.navigation__link {
    text-decoration: none;
}

.post {
}

.post__content {
    padding: 3px 16px;
}

.post__header {
    color: #2E3532;
}
