body {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    color: #333333;
    display: grid;
    grid-template-rows: 82px 1fr 82px;
    grid-template-areas: "header"
    "content"
    "footer";
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.about {
}

.about__content {
}

.about__header {
    color: #BE7C4D;
}

.article {
}

.article__content {
    padding: 3px 16px;
}

.article__header {
    color: #8B2635;
}

.blog {
}

.blog--anchor:before {
    content: '';
    display: block;
    padding-top: 82px; /* header height + empty space */
    margin-top: -82px; /* header height to degrees padding’s space */
}

.blog__articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.blog__header {
    color: #BE7C4D;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_top {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.main {
    grid-area: content;
    width: 100%;
    max-width: 900px;
    margin: 0px auto;
}

.header {
}

.header__title {
    color: #8B2635;
}

.header__link {
    text-decoration: none;
}

.site-header {
    grid-area: header;
    position: fixed;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    padding: 16px;
    color: #8B2635;
    background-color: #fff;
}

.navigation {
}

.navigation__list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation__item {
    display: inline;
    margin: 0 16px;
}

.navigation__list {
    list-style: none;
    padding: 0;
}

.navigation__link {
    text-decoration: none;
}

.post {
}

.post__content {
    padding: 3px 16px;
}

.post__header {
    color: #2E3532;
}

@media (max-width: 640px) {
    .blog__articles {
        grid-template-columns: 1fr;
    }
}
